<!DOCTYPE html>
<html> 
   <head>
      <title>ITD Canada</title>
      <!-- Latest compiled and minified CSS Boostrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Google font ROBOTO-->
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
      <!-- Main css-->
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <!-- Google font css-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
         rel="stylesheet">
      <!-- font-awesome css-->
      <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
      <!-- Shorts css-->
      <link rel="stylesheet" type="text/css" href="css/Shorts.lite.min.css">
      <!-- favicon All sizes-->
      <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
      <link rel="manifest" href="/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
   </head>
   <body>
      <!-- Header - MainMenu-->
      <div id="mainMenu">
         <div class="overflow-Hidden">
            <div class="section">
               <div class="container">
                  <div class="row">
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>My Profile</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>My Courses</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Classroom</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>My Progress</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>My Bookings</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Forum</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Library</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>My Financial History</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Events</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Community</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Settings</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Secretary</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="header">
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <ul class="list-inline list-top left_side">
                        <li><input type="text" class="form-control search" id="exampleInputEmail3" placeholder="Search"></li>
                        <li>
                           <a href="#" title="Community">
                              <ul class="list-inline icon-list">
                                 <li><i class="sprite sprite-icon-community"></i></li>
                                 <li><span>{{Community}}</span></li>
                              </ul>
                           </a>
                        </li>
                        <li>
                           <a href="#" title="My site">
                              <ul class="list-inline icon-list">
                                 <li><i class="sprite sprite-icon-my-site"></i></li>
                                 <li><span>{{mySite}}</span></li>
                              </ul>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-md-6">
                     <ul class="list-inline list-top right_side">
                        <li>
                           <a href="#" title="Events">
                              <ul class="list-inline icon-list">
                                 <li><i class="sprite sprite-icon-event"></i></li>
                                 <li><span>{{events}}</span></li>
                              </ul>
                           </a>
                        </li>
                        <li>
                           <a href="#" title="Notifications">
                              <ul class="list-inline icon-list">
                                 <li><i class="sprite2 sprite-icon-notification"></i></li>
                                 <li><span>{{notifications}}</span></li>
                              </ul>
                           </a>
                        </li>
                        <li>
                           <a href="#" title="Messages">
                              <ul class="list-inline icon-list">
                                 <li><i class="sprite2 sprite-icon-mensage"></i></li>
                                 <li><span>{{messages}}</span></li>
                              </ul>
                           </a>
                        </li>
                        <li class="positionRelative">
                           <a href="#" class="triggerProfileMenu" title="Hi Raphael">
                              <ul class="list-inline icon-list">
                                 <li><i class="sprite sprite-icon-profile"></i></li>
                                 <li><span>Hi {{nameUser}}</span> </li>
                                 <li><i class="sprite2 sprite-icon-arrow top0"></i></li>
                              </ul>
                           </a>
                        </li>
                     </ul>
                     <ul class="list-unstyled subMenu-profile">
                        <li>
                           <i class="sprite sprite-triangle_menu"></i>
                        </li>
                        <li>
                           <a href="#" title="My Profile"><i class="sprite sprite-icon-my-profile"></i>{{myProfile}}</a>
                        </li>
                        <li>
                           <a href="#" title="My History"><i class="sprite sprite-icon-history"></i>{{myHistory}}</a>
                        </li>
                        <li>
                           <a href="#" title="My Bookings"><i class="sprite sprite-icon-booking"></i>{{myBookings}}</a>
                        </li>
                        <li>
                           <a href="#" title="Settings"><i class="sprite sprite-icon-booking"></i>{{settings}}</a>
                        </li>
                        <li>
                           <a href="#" title="Logout"><i class="sprite sprite-icon-logout"></i>{{logout}}</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <!--MainMenu-->
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <a href="#" class="triggerMenuFunction" title="Main Menu">
                        <i class="sprite sprite-icon-base-menu triggerMenu">
                           <ul class="list-inline">
                              <li>
                                 <i class="sprite sprite-icon-menu-down"></i>
                                 <i class="sprite sprite-icon-menu-up displayNone"></i>
                              </li>
                              <li>{{triggerMenu}}</li>
                              <li>
                                 <i class="sprite sprite-icon-menu-down"></i>
                                 <i class="sprite sprite-icon-menu-up displayNone"></i>
                              </li>
                           </ul>
                        </i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <!-- logo and menu-->
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-2">
                     <div class="logo">
                        <img src="img/into-logo.png" alt="Logo Itd Canada">
                     </div>
                  </div>
                  <div class="col-md-10">
                     <ul class="list-inline topMenu">
                        <li class="active">
                           <a href="#" title="My Course">{{item_menu1}}</a>
                        </li>
                        <li>
                           <a href="#" title="Mentoring">{{item_menu2}}</a>
                        </li>
                        <li>
                           <a href="#" title="My Progress">{{item_menu3}}</a>
                        </li>
                        <li>
                           <a href="#" title="Forum">{{item_menu4}}</a>
                        </li>
                        <li>
                           <a href="#" title="Library">{{item_menu5}}</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- BreadCrumbs-->
      <div id="breadCrumbs">
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <img src="img/breadCrum.png" alt="">
                  </div>
                  <div class="col-md-4">
                     <ul class="list-inline time-class">
                        <li><i class="sprite sprite-icon-time"></i></li>
                        <li>
                           <p>{{nextClass}}<span class="fontBold">{{nextClassTime}}</span></p>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Stage Banner-->
      <div id="timeline">
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <h2>{{currentTerm}}</h2>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <ul class="list-inline itemTimeline">
                        <li v-for="Assignment in Assignments">
                           <i class="icon-check"></i>
                           <a href="#" class="icon-Assignment icon-timeline" title="Assignment: Windows Calculator DeadLine: 5/15/2017"></a>
                           <span>{{Assignment.name}} <label>{{Assignment.date}}</label></span>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <a href="detailsCourse.html" class="btn btn_primary acessBtn" title="Access the course">{{btnAccess}}</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Stage Description Term-->
      <div id="descriptionTerm">
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <ul class="list-inline descritionCourse">
                        <li>
                           <i class="material-icons">event_note</i>
                           <span><label class="fontBold">{{courseString}}</label>{{courseDataName}}</span>
                        </li>
                        <li class="separador">|</li>
                        <li class="marginLeft20px">
                           <i class="material-icons">access_time</i>
                           <span>{{timeOfCourse}}</span>
                        </li>
                        <li class="separador">|</li>
                        <li class="marginLeft20px">
                           <i class="material-icons">work</i>
                           <span><label class="fontBold">{{termString}}</label>{{currentTerm}}</span>
                        </li>
                        <li class="floatRight">
                           <i class="material-icons">date_range</i>
                           <span><label class="fontBold">{{endTermString}}</label> {{endDateTerm}}</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Stage Available Courses-->
      <div id="availableCourses">
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="page-header">
                        <h2>{{titleCourses}}</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-4">
                     <div class="bg-course">
                        <div class="head-course1"></div>
                        <div class="separetor"></div>
                        <div class="overflow-HiddenCourse">
                           <div class="detailsCourse">
                              <a href="#"><i class="fa fa-plus-circle displayBlock" aria-hidden="true"></i>{{moreDetailsString}}</a>
                           </div>
                        </div>
                        <h3>{{titleCourseData1}}</h3>
                        <div class="stage-description">
                           <p>{{descriptionCourseData1}}</p>
                           <a href="detailsCourse.html" class="btn btn_primary marginTop20px">{{btnStringButtonCourse}}</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="bg-course">
                        <div class="head-course2"></div>
                        <div class="separetor"></div>
                        <div class="overflow-HiddenCourse">
                           <div class="detailsCourse">
                              <a href="#"><i class="material-icons displayBlock font60px">schedule</i> {{availableCourseString}} <span class="fontBold font20px">{{availableCourseDate1}}</span> </a>
                           </div>
                        </div>
                        <h3>{{titleCourseData1}}</h3>
                        <div class="stage-description">
                           <p>{{descriptionCourseData1}}</p>
                           <a href="#" class="btn btn_primary marginTop20px btn-disabled" disabled >{{btnStringButtonCourse}}</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="bg-course">
                        <div class="head-course3"></div>
                        <div class="separetor"></div>
                        <div class="overflow-HiddenCourse">
                           <div class="detailsCourse">
                              <a href="#"><i class="material-icons displayBlock font60px">schedule</i> {{availableCourseString}} <span class="fontBold font20px">{{availableCourseDate1}}</span> </a>
                           </div>
                        </div>
                        <h3>{{titleCourseData1}}</h3>
                        <div class="stage-description">
                           <p>{{descriptionCourseData1}}</p>
                           <a href="#" class="btn btn_primary marginTop20px btn-disabled" disabled>{{btnStringButtonCourse}}</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Stage Foruns and Mentoring-->
      <div id="MentoringForuns">
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="page-header marginTop50px">
                        <h2>{{titleMentoringString}}</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="page-header-small">
                        <h3>{{nextClassString}}</h3>
                     </div>
                     <p class="description">{{nextClassDescriptionString}}</p>
                     <div class="bg-course">
                        <div class="head-course" style="background: url(img/imgCurso.png) rgba(0,0,0,0.5) no-repeat;"></div>
                        <div class="separetor"></div>
                        <div class="overflow-HiddenCourse">
                           <div class="detailsCourse">
                              <a href="#"><i class="fa fa-plus-circle displayBlock" aria-hidden="true"></i>More Details</a>
                           </div>
                        </div>
                        <h3 class="title-mentoring">{{currentTopicString}}</h3>
                        <span class="description">{{nextClassStartString}}</span>
                        <div class="stage-description">
                           <p>{{descriptionMentoring}}</p>
                           <a href="#" class="btn btn_primary marginTop20px">{{nextClassString}}</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="page-header-small">
                        <h3>{{titleBookPublicString}}</h3>
                     </div>
                     <p class="description">{{nextClassDescriptionString}}</p>
                     <div class="bg-course">
                        <div class="head-course" style="background: url(img/bg-private-class.png) rgba(0,0,0,0.5) no-repeat;"></div>
                        <div class="separetor"></div>
                        <div class="overflow-HiddenCourse">
                           <div class="detailsCourse">
                              <a href="#"><i class="fa fa-plus-circle displayBlock" aria-hidden="true"></i>{{moreDetailsString}}</a>
                           </div>
                        </div>
                        <h3 class="title-mentoring">{{titleBookPrivateString}}</h3>
                        <span class="description">{{RemainingPrivateClassString}} {{RemainingPrivateClassDataNumber}}</span>
                        <div class="stage-description">
                           <p>{{descriptionPrivateClass}}</p>
                           <a href="#" class="btn btn_primary marginTop20px">{{textBtnPrivateClass}}</a> 
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Footer -->
      <div id="footer">
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <ul class="list-unstyled menu-footer">
                        <li v-for="itensMenu1 in menuFooter1"  v-html="itensMenu1.item"></li>
                     </ul>
                  </div>
                  <div class="col-md-3">
                     <ul class="list-unstyled menu-footer">
                        <li v-for="itensMenu2 in menuFooter2"  v-html="itensMenu2.item"></li>
                     </ul>
                  </div>
                  <div class="col-md-3">
                     <ul class="list-unstyled menu-footer">
                        <li v-for="itensMenu2 in menuFooter2"  v-html="itensMenu2.item"></li>
                     </ul>
                  </div>
                  <div class="col-md-3">
                     <div class="positionRelative">
                        <img src="img/logo-footer.png" class="logo-footer" alt="Logo ITD Canada">
                        <ul class="list-inline social-media">
                           <li><a href="#" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                           <li><a href="#" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                           <li><a href="#" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <p>&#9400; 2017 Institute of Technology Development of Canada, Vancouver, BC, Canada</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
       <!-- Vue.js -->
      <script src="https://unpkg.com/vue"></script>
      <!-- Jquery-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- Main JS-->
      <script src="js/main.js"></script>
   </body>
</html>