<!DOCTYPE html>
<html>
   <head>
      <title>ITD Canada</title>
      <!-- Latest compiled and minified CSS Boostrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Google font ROBOTO-->
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
      <!-- Main css--> 
      <link rel="stylesheet" type="text/css" href="css/main.css">
      <!-- Google font css-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
         rel="stylesheet">
      <!-- font-awesome css-->
      <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
      <!-- Shorts css-->
      <link rel="stylesheet" type="text/css" href="css/Shorts.lite.min.css">
      <!-- favicon All sizes-->
      <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
      <link rel="manifest" href="/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
   </head>
   <body>
      <!-- Header - MainMenu-->
      <div id="mainMenu">
         <div class="overflow-Hidden">
            <div class="section">
               <div class="container">
                  <div class="row">
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>My Profile</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>My Courses</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Classroom</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>My Progress</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>My Bookings</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Forum</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Library</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>My Financial History</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Events</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Community</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Settings</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                     <div class="col-md-2">
                        <ul class="list-unstyled">
                           <li>
                              <h4>Secretary</h4>
                           </li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                           <li><a href="#"> > Lorem Ipsum dolor</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="header">
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <ul class="list-inline list-top left_side">
                        <li><input type="text" class="form-control search" id="exampleInputEmail3" placeholder="Search"></li>
                        <li>
                           <a href="#" title="Community">
                              <ul class="list-inline icon-list">
                                 <li><i class="sprite sprite-icon-community"></i></li>
                                 <li><span>Community</span></li>
                              </ul>
                           </a>
                        </li>
                        <li>
                           <a href="#" title="My site">
                              <ul class="list-inline icon-list">
                                 <li><i class="sprite sprite-icon-my-site"></i></li>
                                 <li><span>My Site</span></li>
                              </ul>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="col-md-6">
                     <ul class="list-inline list-top right_side">
                        <li>
                           <a href="#" title="Events">
                              <ul class="list-inline icon-list">
                                 <li><i class="sprite sprite-icon-event"></i></li>
                                 <li><span>Events</span></li>
                              </ul>
                           </a>
                        </li>
                        <li>
                           <a href="#" title="Notifications">
                              <ul class="list-inline icon-list">
                                 <li><i class="sprite2 sprite-icon-notification"></i></li>
                                 <li><span>Notifications</span></li>
                              </ul>
                           </a>
                        </li>
                        <li>
                           <a href="#" title="Messages">
                              <ul class="list-inline icon-list">
                                 <li><i class="sprite2 sprite-icon-mensage"></i></li>
                                 <li><span>Messages</span></li>
                              </ul>
                           </a>
                        </li>
                        <li class="positionRelative">
                           <a href="#" class="triggerProfileMenu" title="Hi Raphael">
                              <ul class="list-inline icon-list">
                                 <li><i class="sprite sprite-icon-profile"></i></li>
                                 <li><span>Hi Raphael</span> </li>
                                 <li><i class="sprite2 sprite-icon-arrow top0"></i></li>
                              </ul>
                           </a>
                        </li>
                     </ul>
                     <ul class="list-unstyled subMenu-profile">
                        <li>
                           <i class="sprite sprite-triangle_menu"></i>
                        </li>
                        <li>
                           <a href="#" title="My Profile"><i class="sprite sprite-icon-my-profile"></i>My Profile</a>
                        </li>
                        <li>
                           <a href="#" title="My History"><i class="sprite sprite-icon-history"></i>My History</a>
                        </li>
                        <li>
                           <a href="#" title="My Bookings"><i class="sprite sprite-icon-booking"></i>My Bookings</a>
                        </li>
                        <li>
                           <a href="#" title="Settings"><i class="sprite sprite-icon-booking"></i>Settings</a>
                        </li>
                        <li>
                           <a href="login.html" title="Logout"><i class="sprite sprite-icon-logout"></i>Logout</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <!--MainMenu-->
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <a href="#" class="triggerMenuFunction" title="Main Menu">
                        <i class="sprite sprite-icon-base-menu triggerMenu">
                           <ul class="list-inline">
                              <li>
                                 <i class="sprite sprite-icon-menu-down"></i>
                                 <i class="sprite sprite-icon-menu-up displayNone"></i>
                              </li>
                              <li>Main Menu</li>
                              <li>
                                 <i class="sprite sprite-icon-menu-down"></i>
                                 <i class="sprite sprite-icon-menu-up displayNone"></i>
                              </li>
                           </ul>
                        </i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <!-- logo and menu-->
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-2">
                     <div class="logo">
                        <img src="img/into-logo.png" alt="Logo Itd Canada"/>
                     </div>
                  </div>
                  <div class="col-md-10">
                     <ul class="list-inline topMenu">
                        <li class="active">
                           <a href="#" title="My Course">My Course</a>
                        </li>
                        <li>
                           <a href="#" title="Mentoring">Mentoring</a>
                        </li>
                        <li>
                           <a href="#" title="My Progress">My Progress</a>
                        </li>
                        <li>
                           <a href="#" title="Forum">Forum</a>
                        </li>
                        <li>
                           <a href="#" title="Library">Library</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- BreadCrumbs-->
      <div id="breadCrumbs">
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <img src="img/breadCrum.png" alt="">
                  </div>
                  <div class="col-md-4">
                     <ul class="list-inline time-class">
                        <li><i class="sprite sprite-icon-time"></i></li>
                        <li>
                           <p>Your next class start in:<span class="fontBold">23 min</span></p>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="Into-Title">
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 ">
                     <h1>IGP 220 Visual Basic.NET</h1>
                  </div>
                  <div class="col-md-6">
                     <ul class="list-inline descritionCourse floatRight">
                        <li>
                           <i class="material-icons">event_note</i>
                           <span><label class="fontBold">Course:</label> Graphic And Web Development Diploma</span>
                        </li>
                        <li class="separador">|</li>
                        <li class="marginLeft20px">
                           <i class="material-icons">access_time</i>
                           <span>960 hours</span>
                        </li>
                        <li class="separador">|</li>
                        <li class="marginLeft20px">
                           <i class="material-icons">work</i>
                           <span><label class="fontBold">Term:</label> 3</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Container course -->
      <div id="detais-course">
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <div class="container-fluid noPadding">
                        <div class="row">
                           <div class="col-md-12">
                              <div class="bg-details">
                                 <ul class="treeviews-contents list-unstyled">
                                    <li>
                                       <h3>Contents</h3>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <i class="sprite-treeviews sprite-treeviews-icon-normal"></i>
                                       10 April - 16 April
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <i class="sprite-treeviews sprite-treeviews-icon-normal"></i>
                                       17 April - 23 April
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <i class="sprite-treeviews sprite-treeviews-icon-normal"></i>
                                       24 April - 30 April
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <i class="sprite-treeviews sprite-treeviews-icon-normal"></i>
                                       5 May - 12 May
                                       </a>
                                    </li>
                                    <li>
                                       <a href="#">
                                       <i class="sprite-treeviews sprite-treeviews-icon-normal"></i>
                                       13 May - 20 May
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                              <ul class="list-assignment list-unstyled">
                                 <li>
                                    <div class="bg-assignment">
                                       <div class="header-assignment">
                                          <i class="material-icons">assignment</i> 
                                          <span>Windows Calculator - 16 April</span>
                                       </div>
                                       <div class="body-assignment">
                                          <ul class="list-inline">
                                             <li>
                                                <i class="material-icons">assignment_returned</i>
                                                <a href="#">Info</a>
                                             </li>
                                             <li class="separator">|</li>
                                             <li>
                                                <i class="material-icons">unarchive</i>
                                                <a href="#">Send Assignment </a>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="bg-assignment">
                                       <div class="header-assignment">
                                          <i class="material-icons">assignment</i> 
                                          <span>Database Manipulation - 5 May</span>
                                       </div>
                                       <div class="body-assignment">
                                          <ul class="list-inline">
                                             <li>
                                                <i class="material-icons">assignment_returned</i>
                                                <a href="#">Info</a>
                                             </li>
                                             <li class="separator">|</li>
                                             <li>
                                                <i class="material-icons">unarchive</i>
                                                <a href="#">Send Assignment </a>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="bg-assignment">
                                       <div class="header-assignment">
                                          <i class="material-icons">assignment</i> 
                                          <span>Midterm Exam - 25 May</span>
                                       </div>
                                       <div class="body-assignment">
                                          <ul class="list-inline">
                                             <li>
                                                <i class="material-icons">assignment_returned</i>
                                                <a href="#">Info</a>
                                             </li>
                                             <li class="separator">|</li>
                                             <li>
                                                <i class="material-icons">unarchive</i>
                                                <a href="#">Send Assignment </a>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </li>
                                 <li>
                                    <div class="bg-assignment">
                                       <div class="header-assignment">
                                          <i class="material-icons">assignment</i> 
                                          <span>Final Exam - 30 May</span>
                                       </div>
                                       <div class="body-assignment">
                                          <ul class="list-inline">
                                             <li>
                                                <i class="material-icons">assignment_returned</i>
                                                <a href="#">Info</a>
                                             </li>
                                             <li class="separator">|</li>
                                             <li>
                                                <i class="material-icons">unarchive</i>
                                                <a href="#">Send Assignment </a>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-9">
                     <div class="container-fluid noPadding">
                        <div class="row">
                           <div class="col-md-12">
                              <div class="bg-slide">
                                 <div class="bg-controls displayNone"></div>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-12">
                              <div class="bg-assignment bg-list-details">
                                 <div class="header-assignment">
                                    <ul class="list-inline item-list-description">
                                       <li class="active">
                                          <a href="#" data-name-item="overview">Overview</a>
                                       </li>
                                       <li>
                                          <a href="#" data-name-item="courseOutline">Course Outline</a>
                                       </li>
                                       <li>
                                          <a href="#" data-name-item="curricularGrade">Curriculum</a>
                                       </li>
                                       <li>
                                          <a href="#" data-name-item="personalInformation">{{gradeItemstring}}</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="body-assignment">
                                    <ul class="list-inline container-list">
                                       <li class="Overview-item displayBlock">
                                          <div class="container-fluid noPadding">
                                             <div class="row">
                                                <div class="col-md-2">
                                                   <img src="img/profile-picture.png" alt="Profile Picture"/>
                                                   <span class="positionRelative left20px">Soheil Gorji</span>
                                                </div>
                                                <div class="col-md-8">
                                                   <p>
                                                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia eaque ipsa quae illo inventore veritatis et quasi architec beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptat quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.
                                                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia eaque ipsa quae illo inventore veritatis et quasi architec beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptat quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.
                                                   </p>
                                                </div>
                                                <div class="col-md-2">
                                                   <div class="informations-course">
                                                      <div class="time-course marginTop15px">
                                                         <i class="material-icons">query_builder</i>
                                                         <span>960h</span>
                                                      </div>
                                                      <div class="time-course marginTop15px">
                                                         <i class="material-icons">query_builder</i>
                                                         <span>960h</span>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                       <li class="course_outline">
                                          <div class="container-fluid noPadding">
                                             <div class="row">
                                                <div class="col-md-12">
                                                   <table class="table table-bordered course-outline-table">
                                                      <tbody>
                                                         <tr>
                                                            <td class="fontBold colorGray">Course Number </td>
                                                            <td>IGP210</td>
                                                         </tr>
                                                         <tr>
                                                            <td class="fontBold colorGray">Course Description </td>
                                                            <td>In this course students learn how to create desktop applications using a rapid
                                                               development tool - Visual Basic.Net. They will also be introduced to Object Oriented
                                                               Programming.
                                                            </td>
                                                         </tr>
                                                         <tr>
                                                            <td class="fontBold colorGray">Course Prerequisites</td>
                                                            <td>Visual Basic 2010 How to program (5th Edition), ISBN: 0132152134
                                                               Visual Basic .NET for complete beginners, by Ken Carney, ISBN: 978-0-9563653-6-1
                                                            </td>
                                                         </tr>
                                                         <tr>
                                                            <td class="fontBold colorGray">Textbooks Required </td>
                                                            <td>Visual Basic 2010 How to program (5th Edition), ISBN: 0132152134
                                                               Visual Basic .NET for complete beginners, by Ken Carney, ISBN: 978-0-9563653-6-1
                                                            </td>
                                                         </tr>
                                                         <tr>
                                                            <td class="fontBold colorGray">Special Equipment</td>
                                                            <td>NA</td>
                                                         </tr>
                                                         <tr>
                                                            <td class="fontBold colorGray">Course Duration</td>
                                                            <td>80 In school hours, 4 weeks </td>
                                                         </tr>
                                                         <tr>
                                                            <td class="fontBold colorGray">Suggested Homework </td>
                                                            <td>40 hours</td>
                                                         </tr>
                                                         <tr>
                                                            <td class="fontBold colorGray">Delivery  </td>
                                                            <td>
                                                               <ul class="list-unstyled">
                                                                  <li> - In class lecture</li>
                                                                  <li> - Presentations</li>
                                                                  <li> - Directed activities</li>
                                                               </ul>
                                                            </td>
                                                         </tr>
                                                         <tr>
                                                            <td class="fontBold colorGray">Learning Objectives</td>
                                                            <td>
                                                               <span class="fontBold">Upon successful completion of this course the student will be able to:</span>
                                                               <ul class="list-unstyled">
                                                                  <li> - Create simple Windows based VB applications</li>
                                                                  <li> - Create a database application using VB</li>
                                                                  <li> - Create desktop applications using ADO</li>
                                                                  <li> - Create desktop applications using DataAdapter and DataTable</li>
                                                                  <li> - Create Classes and Objects in Visual Basic </li>
                                                                  <li> - Create Control Arrays and manipulate Graphics object</li>
                                                               </ul>
                                                            </td>
                                                         </tr>
                                                         <tr>
                                                            <td class="fontBold colorGray">Assessment</td>
                                                            <td>
                                                               <ul class="list-unstyled">
                                                                  <li> Assignment - <label>Value: 5%</label></li>
                                                                  <li> Assignment - <label>Value: 5%</label></li>
                                                                  <li> Assignment - <label>Value: 15%</label></li>
                                                                  <li> Assignment - <label>Value: 10%</label></li>
                                                                  <li> Assignment - <label>Value: 15%</label></li>
                                                                  <li> Midterm - <label>Value: 20%</label></li>
                                                                  <li> Final Exam - <label>Value: 30%</label></li>
                                                               </ul>
                                                            </td>
                                                         </tr>
                                                         <tr>
                                                            <td class="fontBold colorGray">Notes</td>
                                                            <td>
                                                               <span class="fontBold">A final grade of 60% is required to pass this course.</span>
                                                            </td>
                                                         </tr>
                                                         <tr>
                                                            <td class="fontBold colorGray">Course Breakdown  </td>
                                                            <td>Topics to be covered</td>
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                       <li class="CurricularGrade">
                                          <div class="container-fluid noPadding">
                                             <div class="row">
                                                <div class="col-md-12">
                                                   <table class="table table-bordered course-outline-table">
                                                      <tbody>
                                                         <tr v-for="itemTableCurriculum in tableCurriculum"  v-html="itemTableCurriculum.item">
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                       <li class="personalInformations">
                                          <div class="container-fluid noPadding">
                                             <div class="row">
                                                <div class="col-md-12">
                                                   <span class="colorGray listPresence"> <label>{{nameCourseString}}</label> - <label>{{yourPresenceData}}</label> {{yourPresenceString}} - <label></label></span>  
                                                </div>
                                             </div>
                                             <div class="row">
                                                <div class="col-md-12">
                                                   <table class="table table-bordered course-outline-table">
                                                      <tbody>
                                                         <tr v-for="ItemTableGrade in tableGrade"  v-html="ItemTableGrade.item">
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div> 
               </div>
            </div>
         </div>
      </div>
      <!-- Footer -->
      <div id="footer">
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <ul class="list-unstyled menu-footer">
                        <li v-for="itensMenu1 in menuFooter1"  v-html="itensMenu1.item"></li>
                     </ul>
                  </div>
                  <div class="col-md-3">
                     <ul class="list-unstyled menu-footer">
                        <li v-for="itensMenu2 in menuFooter2"  v-html="itensMenu2.item"></li>
                     </ul>
                  </div>
                  <div class="col-md-3">
                     <ul class="list-unstyled menu-footer">
                        <li v-for="itensMenu2 in menuFooter2"  v-html="itensMenu2.item"></li>
                     </ul>
                  </div>
                  <div class="col-md-3">
                     <div class="positionRelative">
                        <img src="img/logo-footer.png" class="logo-footer" alt="Logo ITD Canada">
                        <ul class="list-inline social-media">
                           <li><a href="#" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                           <li><a href="#" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                           <li><a href="#" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="section">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <p>&#9400; 2017 Institute of Technology Development of Canada, Vancouver, BC, Canada</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Vue.js -->
      <script src="https://unpkg.com/vue"></script>
      <!-- Jquery-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- Main JS-->
      <script src="js/main.js"></script>
   </body>
</html>