/*Geral Classes*/
body{
	font-size: 100%; 
    font-family: 'Roboto', sans-serif;
}

.overflow{
	overflow: hidden;
}

p{
	color: #555555;
	font-size: 1.6rem;
	margin-bottom: 35px;
	&:last-child{
		margin-bottom: 0;
	};
}

.pageHeader{
	border-bottom: 2px solid #f2f2f2;
	margin-top:50px;
	margin-bottom: 35px;
	h2{
		font-size:  2.875rem;
		color: #03d2dd;
		font-weight: 300;
	}
}

.marginTop0{margin-top: 0!important;}
.noPadding{padding: 0 !important;}
.marginBottom300px{margin-bottom: 300px !important;}
.positionRelative{position: relative !important}

a{ 
	&:hover{
		text-decoration: none;
	};
}
/*Include Top*/ 
#top{
	.section{
		.bar-top{
			width: 100%;
			height: 4px;
			background: #00b0b9;
		}

		.logo{
			margin-top: 50px;
		}

		//main-menu 
		.main-menu{
			float: right;
			margin-top: 80px;

			li{
				margin-right: 37px;
				a{
					font-size: 1.8rem;
					color: #464646;

					&:hover,&.active{
						color: #00b0b9;
					};
				}

				&:last-child{
					position: relative;
					top: 8px;
				};
			}
		}
	}
}
 
/*Include Banner*/

#banner{
	.overflow{
		margin-top: 40px;
	}
	position: relative;
	.section{
		//sub-menu
		&:first-child{
			width: 100%;
			height: 50px;
			background-color: #ebebeb;
			position: relative;
			margin-top: -53px;
			-webkit-transition: 0.5s; /* Safari */
    		transition: 0.5s;	
		};
		
		&:last-child{
			width:100%; 
			height: 500px;
			background: url(../img/banner.png);

			h1{
				text-align: center;
				font-size: 5rem;
				color: #03d2dd;
				font-weight: 300;
				margin-top: 130px;
			}

			p{
				text-align: center;
				color: white;
				font-size: 2.200rem;
				margin-top: 46px;
			}
		};
	}
}

.triggermenu{
	i{
		position: relative;
		top: 7px;
	}
}

/*Sub-menu*/

.sub-menu{
	margin: auto;
	width: 70%;
	li{
		margin-left: 26px;
		a{
			font-size: 1.8rem;
			color: #464646;
			line-height: 50px;
			&:hover{
				color: #00b0b9;
			};
		}
	}
}

/*Include Links*/

#links{
	.section{
		.side{
			width: 50%;
			height: 114px;
			line-height: 114px;

			a{
				color: white;
				font-size: 2.5rem;
				text-align: center;
				display: block;
			}
		}

		.side.left{
			background: #00b0b9;
			float: left;
			-webkit-transition: 0.5s; /* Safari */
    		transition: 0.5s;
			a:hover{
				background: #01a0a8;
				-webkit-transition: 0.5s; /* Safari */
    			transition: 0.5s;
			};
		}

		.side.right{
			background: #40c4cb;
			float: right;
			-webkit-transition: 0.5s; /* Safari */
    		transition: 0.5s;
			a:hover{
				background: #03a2aa;
				-webkit-transition: 0.5s; /* Safari */
    			transition: 0.5s;
			};
		}
	}
}

/*Services*/

.bg-services{
	width: 100%;
	height: 362px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,053033+100&0+1,1+100 */
   background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(253,253,253,0) 1%, rgba(5,48,51,1) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(253,253,253,0) 1%,rgba(5,48,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(253,253,253,0) 1%,rgba(5,48,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#053033',GradientType=0 ); /* IE6-9 */
   z-index: 10;
   position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	padding: 20px;

	ul{
		position: absolute;
		bottom: 0;
		width: 100%;
		li:first-child{
			span{
				color: white;
				font-size:  1.813rem;
				float: left;
			}
		}

		li:last-child{
			span{
				width: 35px;
				height: 35px;
				border: 2px solid white;
				-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
				border-radius: 100px;
				position: absolute;
				right: 35px;
				bottom: 10px;
				color: white;
				text-align: center;
				
				i{
					line-height: 32px;
				}
			}
		}
	}
}

.bg-network{
	background: url(../img/bg-network.png);
	width: 100%;
	height: 362px;
	-webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
    background-size: 110%;
}

.bg-server{
	background: url(../img/bg-service.png);
	width: 100%;
	height: 362px;
	-webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
    background-size: 110%;
}

.bg-security{
	background: url(../img/bg-security.png);
	width: 100%;
	height: 362px;
	-webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
    background-size: 110%;
}

.bg-it-support{
	background: url(../img/bg-it.png);
	width: 100%;
	height: 362px;
	-webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
    background-size: 110%;	
}

.overflow-service{
	position: relative;
	overflow: hidden;

	&:hover{
		.bg-network,.bg-server,.bg-security,.bg-it-support{
			-webkit-transition: 0.5s; /* Safari */
    		transition: 0.5s;
    		background-size: 130%;
		}
	};
}

/*Include Footer*/

#footer{
	.section{
		border-top: 2px solid #00b0b9;
		width: 100%;
		height: 206px;
		background: #007986;
		margin-top: 50px;
	}
}
